//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1994 by Borland International
//   Tutorial application -- step05.rc
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
# include <owl/winres.rh>
#endif

#include <owl/inputdia.rc>
#include <owl/except.rc>
