//----------------------------------------------------------------------------
//  Project Themes
//  
//  (C) 2007 Sebastian Ledesma
//
//  SUBSYSTEM:  Themes Application
//  FILE:     themsapp.rc
//  AUTHOR:     Sebastian Ledesma
//
//  OVERVIEW
//  ~~~~~~~~
//  All resources defined here.
//
//----------------------------------------------------------------------------

#include "themsapp.rh"
#include <owl/winres.rh>

#if !defined(OWL_GLYPHBTN)
#if defined(UNICODE)
# define OWL_GLYPHBTN  L"OWL_GlyphBtn"
#else
# define OWL_GLYPHBTN  "OWL_GlyphBtn"
#endif
#endif


// Client Dialog
//
IDD_CLIENT DIALOGEX 6, 15, 240, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Controls"
FONT 8, "MS Shell Dlg"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 57, 176, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 176, 50, 14
 CONTROL "TStatic ", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 8, 60, 8
 CONTROL "TEdit", IDC_EDIT11, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 6, 56, 12
 CONTROL "TComboBox", IDC_COMBOBOX1, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 6, 88, 64
 CONTROL "ListBox1", IDC_LISTBOX1, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 34, 88, 64
 CONTROL "ProgressBar1", IDC_PROGRESSBAR1, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 100, 104, 12
 CONTROL "ProgressBar2", IDC_PROGRESSBAR2, "OWL_Gauge", WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 120, 104, 12
 CONTROL "TCheckBox", IDC_CHECKBOX1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 40, 60, 12
 CONTROL "TRadioButton", IDC_RADIOBUTTON11, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 56, 60, 12
 CONTROL "TRadioButton (2)", IDC_RADIOBUTTON12, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 72, 68, 12
 CONTROL "TButton", IDC_BUTTON1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 144, 50, 14
 CONTROL "TabControl2", IDC_TABCONTROL1, "SysTabControl32", WS_CHILD | WS_VISIBLE, 12, 140, 112, 30
 CONTROL "TEdit", IDC_EDIT12, "edit", ES_LEFT | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 22, 56, 12
}




IDD_MOREDIALOG DIALOGEX 120, 0, 240, 180
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "More controls"
FONT 8, "MS Shell Dlg"
{
 CONTROL "ScrollBar1", IDC_SCROLLBAR1, "scrollbar", SBS_HORZ | WS_CHILD | WS_VISIBLE, 4, 32, 92, 9
 CONTROL "Group1", IDC_GROUPBOX11, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 44, 92, 30
 CONTROL "TreeView1", IDC_TREEVIEW1, "SysTreeView32", WS_CHILD | WS_VISIBLE | WS_BORDER, 116, 28, 116, 30
 CONTROL "ListView1", IDC_LISTVIEW1, "SysListView32", WS_CHILD | WS_VISIBLE | WS_BORDER, 116, 64, 116, 48
 CONTROL "TrackBar1", IDC_TRACKBAR1, "msctls_trackbar32", WS_CHILD | WS_VISIBLE, 4, 80, 92, 20
 CONTROL "Header1", IDC_HEADER1, "SysHeader32", HDS_BUTTONS | WS_CHILD | WS_VISIBLE, 0, 16, 240, 10
 CONTROL "StatusWindow1", IDC_STATUSBAR1, "msctls_statusbar32", CCS_TOP | CCS_NOMOVEY | WS_CHILD | WS_VISIBLE, 0, 122, 240, 13
 CONTROL "UpDown1", IDC_UPDOWN1, "msctls_updown32", WS_CHILD | WS_VISIBLE, 44, 112, 11, 20
 CONTROL "ToolBar1", IDC_TOOLBAR1, "ToolbarWindow32", TBSTYLE_SEP | WS_CHILD | WS_VISIBLE, 0, 0, 240, 17
 CONTROL "OWL_GLYPHBTN", IDOK, OWL_GLYPHBTN, BS_OWNERDRAW |BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 140, 88, 22
}

